BL/Service References/HelperServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CardHelper" />
  <xs:element name="GetIdCardFromReader">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetIdCardFromReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CardHelper" minOccurs="0" name="GetIdCardFromReaderResult" nillable="true" type="q1:IdCardData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRfidCardFromReader">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetRfidCardFromReaderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetRfidCardFromReaderResult" nillable="true" type="xs:unsignedLong" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>