BL/Service References/HelperServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HelperService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IHelperService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/CardHelper" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHelperService_GetIdCardFromReader_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIdCardFromReader" />
  </wsdl:message>
  <wsdl:message name="IHelperService_GetIdCardFromReader_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIdCardFromReaderResponse" />
  </wsdl:message>
  <wsdl:message name="IHelperService_GetRfidCardFromReader_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRfidCardFromReader" />
  </wsdl:message>
  <wsdl:message name="IHelperService_GetRfidCardFromReader_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRfidCardFromReaderResponse" />
  </wsdl:message>
  <wsdl:portType name="IHelperService">
    <wsdl:operation name="GetIdCardFromReader">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelperService/GetIdCardFromReader" message="tns:IHelperService_GetIdCardFromReader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelperService/GetIdCardFromReaderResponse" message="tns:IHelperService_GetIdCardFromReader_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetRfidCardFromReader">
      <wsdl:input wsaw:Action="http://tempuri.org/IHelperService/GetRfidCardFromReader" message="tns:IHelperService_GetRfidCardFromReader_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHelperService/GetRfidCardFromReaderResponse" message="tns:IHelperService_GetRfidCardFromReader_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IHelperService" type="tns:IHelperService">
    <wsp:PolicyReference URI="#NetTcpBinding_IHelperService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="GetIdCardFromReader">
      <soap12:operation soapAction="http://tempuri.org/IHelperService/GetIdCardFromReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRfidCardFromReader">
      <soap12:operation soapAction="http://tempuri.org/IHelperService/GetRfidCardFromReader" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HelperService">
    <wsdl:port name="NetTcpBinding_IHelperService" binding="tns:NetTcpBinding_IHelperService">
      <soap12:address location="net.tcp://localhost:8523/CardHelper" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8523/CardHelper</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>